---
import PortofolioTabs from "./PortofolioTabs";
---

<div
	class="bg-white py-6 sm:py-8 lg:py-12"
	id="portofolio"
>
	<div class="mx-auto max-w-screen-xl px-4 md:px-8">
		<div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
			<div class="flex items-center gap-12">
				<h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">Portofolio</h2>
			</div>
		</div>
		<PortofolioTabs client:visible />
	</div>
</div>
